// Variables

$icon-color: #CCC;
$a-color: #2B516B;
$navbar-color: #DBDBDB;
$postList-color: #D1D1D5;
$post-color: #ececec;

$margin-down: 0.6em;

$a-hover-color: #22377E;
$a-visited-color: #4F748E;

$pre-border-color: #828896;

$base-font-weight: 500;

$navbar-apellido-color: #22376E;

$post-padding-top: 4em;
$post-a-color: #22376E;
